
<div>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile [colspan]="3" > <h2>Task Tracker</h2></mat-grid-tile>
        <mat-grid-tile [colspan]="1.45" [rowspan]="2">
            <div>
                <h2>To-do Tasks</h2>
               <form>
                    <mat-form-field>
                        <mat-label>Id</mat-label>
                        
                        <input matInput name="id" #idRef/>
                     
                    </mat-form-field>
                    <br/>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        
                        <input matInput name="name" #nameRef/>
                    </mat-form-field>

                    <br/>
                    <mat-form-field>
                        <mat-label>Task</mat-label>
                      
                        <input matInput name="task" #tnameRef/> 
                        
                    </mat-form-field>
                    <br/>
            
                     <mat-form-field> 
                        <mat-label>Task Due Date</mat-label>
                        <input matInput name="tDue" #tdueRef/> 
                                               
                    </mat-form-field> 
                    <br/>
                    <button type="submit" mat-raised-button color="primary" (click)="taskFun(idRef,nameRef, tnameRef, tdueRef)">Submit</button>
                    <button type="reset" mat-raised-button style="background-color: darkseagreen;">Reset</button>
            </form>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1.55" [rowspan]="2">
            
        
        <div *ngIf = "showTable">
            <hr/>
            <table border="1">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Task</th>
                        <th>Task Date</th>
                    </tr>
                    <tr *ngFor="let tsk of taskArray">
                        <td>{{tsk.id}}</td> 
                        <td>{{tsk.name}}</td>
                        <td>{{tsk.task}}</td>
                        <td>{{tsk.tdate}}</td>
                    </tr>
            </table>
        </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>


